<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appertech.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D816E9781EAB463C97148976E69A9D0AE8AAC4C1</string>
				<key>dateExpires</key>
				<string>02/07/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D816E9781EAB463C97148976E69A9D0AE8AAC4C1</string>
						<key>dateExpires</key>
						<string>02/07/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX4L636YJC</string>
						<key>name</key>
						<string>Nort Vest Konstraksn, MMC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D816E9781EAB463C97148976E69A9D0AE8AAC4C1</string>
						<key>dateExpires</key>
						<string>02/07/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX4L636YJC</string>
						<key>name</key>
						<string>Nort Vest Konstraksn, MMC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D816E9781EAB463C97148976E69A9D0AE8AAC4C1</string>
						<key>dateExpires</key>
						<string>02/07/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX4L636YJC</string>
						<key>name</key>
						<string>Nort Vest Konstraksn, MMC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D816E9781EAB463C97148976E69A9D0AE8AAC4C1</string>
						<key>dateExpires</key>
						<string>02/07/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX4L636YJC</string>
						<key>name</key>
						<string>Nort Vest Konstraksn, MMC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D816E9781EAB463C97148976E69A9D0AE8AAC4C1</string>
						<key>dateExpires</key>
						<string>02/07/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDataTables.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX4L636YJC</string>
						<key>name</key>
						<string>Nort Vest Konstraksn, MMC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D816E9781EAB463C97148976E69A9D0AE8AAC4C1</string>
						<key>dateExpires</key>
						<string>02/07/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX4L636YJC</string>
						<key>name</key>
						<string>Nort Vest Konstraksn, MMC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MX4L636YJC.az.appertech.NortVestKonstraksn</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.networking.vpn.api</key>
				<array>
					<string>allow-vpn</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>MX4L636YJC</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Appertech.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0e57dbc7-8559-4e1f-8ec4-05ab6618e1d0</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: az.appertech.NortVestKonstraksn</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MX4L636YJC</string>
				<key>name</key>
				<string>Nort Vest Konstraksn, MMC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
