<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".ipa" mimeType="file/download" />
            <mimeMap fileExtension=".apk" mimeType="file/download" />
            <mimeMap fileExtension=".plist" mimeType="file/download" />
        </staticContent>
    </system.webServer>
</configuration>
